{
  "presets": [
    "react-native"
  ],
  "sourceMaps": true,
  "plugins": [
    ["transform-builtin-extend", {
      "globals": ["Map"]
    }],
    ["module-resolver", {
      "root": ["./build/app", "./build/app/redux"]
    }]
  ]
}
